<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
 <link rel="stylesheet" href="css/style.css">
  <title>Frontend Mentor | Advice generator app</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->

</head>
<body>
  <div class="advice-card">

      <p>Advice #<%= adviceid %></p>,
      <p class="Advice"> " <%= advice %> "</p>
      <img class="desk-div" src="/images/pattern-divider-desktop.svg" alt="">
      <img class="mob-div" src="/images/pattern-divider-mobile.svg" alt="">
 <form  action="/" method="GET">
   <button type="submit">
  <img class="dice" src="/images/icon-dice.svg" alt="">
   </button>
 </form>


  </div>


  <!-- <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Your Name Here</a>.
  </div> -->

  <script src="index.js">

  </script>
</body>
</html>
